<div class="row templates">
    <div class="col-md-4">
        <h1>Blue Template</h1>
        <img src="img/blue.jpg">
        <h4>$19.99</h4>
        <a class="btn btn-primary btn-block" href="#/templates/1">Details</a>
    </div>
    
      <div class="col-md-4">
        <h1>Green Template</h1>
        <img src="img/green.jpg">
        <h4>$19.99</h4>
        <a class="btn btn-primary btn-block" href="#/templates/1">Details</a>
    </div>
    
      <div class="col-md-4">
        <h1>Orange Template</h1>
        <img src="img/orange.jpg">
        <h4>$19.99</h4>
        <a class="btn btn-primary btn-block" href="#/templates/1">Details</a>
    </div>
    
      <div class="col-md-4">
        <h1>Gray Template</h1>
        <img src="img/gray.jpg">
        <h4>$19.99</h4>
        <a class="btn btn-primary btn-block" href="#/templates/1">Details</a>
    </div>
    
      <div class="col-md-4">
        <h1>Purple Template</h1>
        <img src="img/purple.jpg">
        <h4>$19.99</h4>
        <a class="btn btn-primary btn-block" href="#/templates/1">Details</a>
    </div>
    
      <div class="col-md-4">
        <h1>Red Template</h1>
        <img src="img/red.jpg">
        <h4>$19.99</h4>
        <a class="btn btn-primary btn-block" href="#/templates/1">Details</a>
    </div>

</div>